global:
  resolve_timeout: 5m

route:
  receiver: 'alertmanager-bot'
  group_by: ['alertname']
  group_wait: 5s
  group_interval: 1m
  repeat_interval: 1m

receivers:
- name: 'alertmanager-bot'
  webhook_configs:
  - send_resolved: true
    url: 'http://{{ PROMETHEUS_LOCAL_HOST }}:8080'
