{
  "name": "{{ item.name }}",
  "type": "{{ item.type }}",
  "access": "{{ item.access }}",
  "url": "{{ item.url }}",
  "isDefault": {{ item.isDefault|default('false')|lower }},
  "jsonData": {{ item.jsonData|default({})|to_json }}
}