prometheus:
  configs:
    - name: gr-node-exporter
      scrape_configs:
        - job_name: node-exporter
          static_configs:
            - targets: ["{{ EXPORTER_HOST }}:{{ EXPORTER_PORT }}"]
    - name: gr-blackbox-exporter
      scrape_configs:
        - job_name: blackbox-exporter
          metrics_path: /probe
          params:
            module: [http_2xx] # проверяем только успешные ответы
          static_configs:
            - targets:
              - "{{ EXPORTER_HOST }}:30005"
