groups:
  - name: Alerting rules
    rules:
      - alert: WebsiteIsDown
        expr: probe_http_status_code{instance="http://{{ EXPORTER_HOST }}:30003"} != 200 OR probe_success{instance="http://{{ EXPORTER_HOST }}:30003"} == 0
        for: 1m
        labels:
          severity: critical
        annotations:
          summary: "Website Django-App ({{ EXPORTER_HOST }}) is down"
          description: "Website {{ EXPORTER_HOST }} has been down for more than 1 minute."

      - alert: Srv disk space warning
        expr: group((100 - ((node_filesystem_avail_bytes{instance="178.154.201.192:9100"} * 100) / node_filesystem_size_bytes{instance="178.154.201.192:9100"})) >= 95) by (instance, device)
        for: 1m
        labels:
          severity: warning
        annotations:
          summary: 'Low disk space on {{ "{{" }} $labels.instance {{ "}}" }}'
          description: 'Disk space is running low ({{ "{{" }} $value {{ "}}" }} GB left) on {{ "{{" }} $labels.instance {{ "}}" }}.'
