modules:
  http_2xx:
    prober: http
    timeout: 5s
    http:
      preferred_ip_protocol: "ip4"
      method: GET
      headers:
        Host: "{{ EXPORTER_HOST }}"
      fail_if_not_ssl: false
      no_follow_redirects: false
      fail_if_ssl: false
