[Unit]
Description=Prometheus blackbox exporter
Wants=network-online.target
After=network-online.target

[Service]
User=blackbox_exporter
Group=blackbox_exporter
ExecStart=/opt/blackbox_exporter-{{ blackbox_exporter_version }}.linux-amd64/blackbox_exporter --config.file=/opt/blackbox_exporter-{{ blackbox_exporter_version }}.linux-amd64/blackbox.yml

[Install]
WantedBy=default.target
