global:
  scrape_interval: 5s
  external_labels:
    monitor: 'kubernetes-monitor'

rule_files:
  - "alert.rules"


scrape_configs:
  - job_name: 'node-exporter'
    scrape_interval: 5s
    static_configs:
      - targets: ["{{ EXPORTER_HOST }}:{{ EXPORTER_PORT }}"]

  - job_name: 'srv-node-exporter'
    scrape_interval: 5s
    static_configs:
      - targets: ["{{ PROMETHEUS_LOCAL_HOST }}:9100"]

  - job_name: 'blackbox-exporter'
    scrape_interval: 5s
    metrics_path: /probe
    params:
      module: [http_2xx]
    static_configs:
      - targets:
        - "http://{{ EXPORTER_HOST }}:30003"
    relabel_configs:
      - source_labels: [__address__]
        target_label: __param_target
      - source_labels: [__param_target]
        target_label: instance
      - target_label: __address__
        replacement: {{ EXPORTER_HOST }}:30005


alerting:
  alertmanagers:
  - static_configs:
    - targets:
      - "{{ PROMETHEUS_LOCAL_HOST }}:9093"
