[Unit]
Description=Prometheus monitoring system
Documentation=https://prometheus.io/docs/introduction/overview/
After=network-online.target

[Service]
User=prometheus
Group=prometheus
Type=simple
ExecStart=/usr/local/bin/prometheus \
    --config.file="{{ prometheus_config_file }}" \
    --storage.tsdb.path="{{ prometheus_data_dir }}" \
    --web.console.templates=/usr/share/prometheus/consoles \
    --web.console.libraries=/usr/share/prometheus/console_libraries \
    --web.enable-admin-api \
    --web.enable-lifecycle \
    $PROMETHEUS_OPTS

[Install]
WantedBy=multi-user.target
